h1{
    color:aqua;
 font-family:Cambria;   
}

p{
    color:blueviolet
}

body{
    background-color: pink;
}

<!DOCTYPE html>

<html>

<head>

</head>

<body>

    <h1> Mati's Website</h1>

    <p>Welcome to my webpage!</p>

<p>Please enjoy my garish color choices.</p> 

<img src="Xunan.png" alt="Mayan Ruins">

</body>

</html>
